@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  display: block;
}

html, body {
  width: 100%;
  height: auto;
}

i {
  display: block;
}

a {
  text-decoration: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

img {
  display: block;
}

html {
  width: 100%;
  height: 100%;
  background: hsl(0deg, 0%, 78.82%);
}
html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body .bg {
  background: url("../img/bg.jpg") no-repeat top center;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
html body .container {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  height: 100%;
  position: relative;
}
html body .container .img_1 {
  background: url("../img/img-1.png") no-repeat center;
  background-size: contain;
  width: 594px;
  height: 904px;
  position: absolute;
  top: 25px;
  left: 201px;
  z-index: 1;
}
html body .container .game {
  background: url("../img/game.png") no-repeat center;
  background-size: contain;
  width: 483px;
  height: 111px;
  position: absolute;
  top: 41px;
  left: 249px;
  z-index: 2;
}
html body .container .icon {
  background: url("../img/icon.png") no-repeat center;
  background-size: contain;
  width: 213px;
  height: 37px;
  position: absolute;
  top: 163px;
  left: 406px;
  z-index: 3;
}
html body .container .l_pic {
  background: url("../img/LBJ.png") no-repeat center;
  background-size: contain;
  width: 652px;
  height: 618px;
  position: absolute;
  top: 124px;
  left: -397px;
  -webkit-animation: player1 0.3s linear 0s;
          animation: player1 0.3s linear 0s;
}
html body .container .r_pic {
  background: url("../img/KB.png") no-repeat center;
  background-size: contain;
  width: 482px;
  height: 845px;
  position: absolute;
  top: 45px;
  left: 637px;
  -webkit-animation: lag 0.4s linear 0s, player2 0.5s ease-out 0.4s;
          animation: lag 0.4s linear 0s, player2 0.5s ease-out 0.4s;
}
html body .container .enter_group {
  z-index: 99;
  position: absolute;
  top: 213px;
  left: 308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body .container .enter_group label input {
  background: hsl(0deg, 0%, 97.25%);
  display: block;
  width: 380px;
  height: 53px;
  text-align: center;
  border-radius: 10px;
}
html body .container .enter_group label input:first-child {
  margin-bottom: 25px;
}
html body .container .enter_group label input::-webkit-input-placeholder {
  color: hsl(27.77deg, 100%, 52.55%);
  font-weight: bold;
  font-size: 20px;
}
html body .container .enter_group label input::-moz-placeholder {
  color: hsl(27.77deg, 100%, 52.55%);
  font-weight: bold;
  font-size: 20px;
}
html body .container .enter_group label input:-ms-input-placeholder {
  color: hsl(27.77deg, 100%, 52.55%);
  font-weight: bold;
  font-size: 20px;
}
html body .container .enter_group label input::-ms-input-placeholder {
  color: hsl(27.77deg, 100%, 52.55%);
  font-weight: bold;
  font-size: 20px;
}
html body .container .enter_group label input::placeholder {
  color: hsl(27.77deg, 100%, 52.55%);
  font-weight: bold;
  font-size: 20px;
}
html body .container .enter_group button {
  background: url("../img/login.png") no-repeat;
  color: hsl(358.87deg, 65.43%, 15.88%);
  font-weight: 900;
  font-size: 22px;
  line-height: 2;
  width: 278px;
  height: 54px;
}
html body .container .enter_group button:hover {
  background-position-y: 100%;
}

@-webkit-keyframes player1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%) translateY(-20%) scaleX(0.5) scaleY(1.5);
            transform: translateX(50%) translateY(-20%) scaleX(0.5) scaleY(1.5);
  }
  67% {
    -webkit-transform: translateX(10%) translateY(30%) scaleX(1.1) scaleY(0.5);
            transform: translateX(10%) translateY(30%) scaleX(1.1) scaleY(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) translateY(0%) scale(1);
            transform: translateX(0%) translateY(0%) scale(1);
  }
}

@keyframes player1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%) translateY(-20%) scaleX(0.5) scaleY(1.5);
            transform: translateX(50%) translateY(-20%) scaleX(0.5) scaleY(1.5);
  }
  67% {
    -webkit-transform: translateX(10%) translateY(30%) scaleX(1.1) scaleY(0.5);
            transform: translateX(10%) translateY(30%) scaleX(1.1) scaleY(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) translateY(0%) scale(1);
            transform: translateX(0%) translateY(0%) scale(1);
  }
}
@-webkit-keyframes player2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) translateY(-100%);
            transform: translateX(-100%) translateY(-100%);
  }
  20% {
    -webkit-transform: translateX(-70%) translateY(-70%) scale(0.8);
            transform: translateX(-70%) translateY(-70%) scale(0.8);
  }
  60% {
    -webkit-transform: translateX(-10%) translateY(-10%) scale(1.1);
            transform: translateX(-10%) translateY(-10%) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) translateY(0%) scale(1);
            transform: translateX(0%) translateY(0%) scale(1);
  }
}
@keyframes player2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) translateY(-100%);
            transform: translateX(-100%) translateY(-100%);
  }
  20% {
    -webkit-transform: translateX(-70%) translateY(-70%) scale(0.8);
            transform: translateX(-70%) translateY(-70%) scale(0.8);
  }
  60% {
    -webkit-transform: translateX(-10%) translateY(-10%) scale(1.1);
            transform: translateX(-10%) translateY(-10%) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) translateY(0%) scale(1);
            transform: translateX(0%) translateY(0%) scale(1);
  }
}
@-webkit-keyframes lag {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lag {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}