@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-family: "微軟正黑體";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  font-family: "微軟正黑體";
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

@font-face {
  font-family: "btnFont";
  src: url("../fonts/MStiffHeiHK-UltraBold(超剛黑).otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  background: #0d0a6b;
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body main {
  width: 100%;
  height: 100%;
}
html body main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
html body main article .left {
  width: 50%;
  height: 100%;
  position: relative;
}
html body main article .left .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 47px;
  right: 102px;
  z-index: 99;
}
html body main article .left .inputBox > .logo {
  background: url("../images/logo.png") no-repeat;
  background-size: contain;
  width: 234px;
  height: 118px;
}
html body main article .left .inputBox > label {
  margin-bottom: 25px;
}
html body main article .left .inputBox > label:first-of-type {
  margin-top: 50px;
}
html body main article .left .inputBox > label:last-of-type {
  margin-bottom: 50px;
}
html body main article .left .inputBox > label > input {
  -webkit-box-shadow: 3px 3px 5px 0 rgba(4, 0, 0, 0.3) inset, 0px 0px 5px 2px #c86ce2;
          box-shadow: 3px 3px 5px 0 rgba(4, 0, 0, 0.3) inset, 0px 0px 5px 2px #c86ce2;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  width: 320px;
  height: 45px;
  border-radius: 50px;
  font-size: 24px;
  padding: 0 30px;
}
html body main article .left .inputBox > label > input::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
}
html body main article .left .inputBox > label > input::-moz-placeholder {
  color: inherit;
  font-size: inherit;
}
html body main article .left .inputBox > label > input:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}
html body main article .left .inputBox > label > input::-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}
html body main article .left .inputBox > label > input::placeholder {
  color: inherit;
  font-size: inherit;
}
html body main article .left .inputBox > button {
  color: #fff;
  border: 1px solid #f5eee1;
  background: -webkit-gradient(linear, left top, left bottom, from(#feaa19), to(#fd6c0c));
  background: linear-gradient(to bottom, #feaa19 0%, #fd6c0c 100%);
  width: 220px;
  height: 60px;
  border-radius: 10px;
  font-size: 38px;
  font-family: "btnFont";
  line-height: 1.2;
}
html body main article .left .inputBox > button:hover, html body main article .left .inputBox > button:active, html body main article .left .inputBox > button.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#9e4a21), to(#fd9a0c));
  background: linear-gradient(to bottom, #9e4a21 0%, #fd9a0c 100%);
}
html body main article .right {
  width: 50%;
  height: 100%;
  position: relative;
}
html body main article .right .ob_m {
  background: url("../images/ob_m.png") no-repeat;
  background-size: contain;
  width: 791px;
  height: 889px;
  position: absolute;
  top: 70px;
  left: -132px;
  -webkit-animation: movingX 0.2s ease 0s 1 normal backwards;
          animation: movingX 0.2s ease 0s 1 normal backwards;
}
html body main article .right .ob_b {
  background: url("../images/ob_b.png") no-repeat;
  background-size: contain;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 235px;
  left: -252px;
  -webkit-animation: movingB 0.2s ease-in-out 0s 1 normal backwards;
          animation: movingB 0.2s ease-in-out 0s 1 normal backwards;
}
html body .bg {
  background: url("../images/bg.png") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
html body .bg_left {
  background: url("../images/bg_left.png") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  -webkit-animation: showing 1s ease-in-out 0s 1 normal none;
          animation: showing 1s ease-in-out 0s 1 normal none;
}
html body .bg_right {
  background: url("../images/bg_right.png") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  right: -100%;
  z-index: -999;
  -webkit-animation: moving 1s ease-in-out 0s 1 normal forwards;
          animation: moving 1s ease-in-out 0s 1 normal forwards;
}
html body .ob_2 {
  background: url("../images/ob_2.png") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  -webkit-animation: delay 1s ease-in-out 0s 1 normal none, showing 1s ease-in-out 1s 1 normal none;
          animation: delay 1s ease-in-out 0s 1 normal none, showing 1s ease-in-out 1s 1 normal none;
}
html body .bg_full {
  background: url("../images/bg_full.png") no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
@-webkit-keyframes delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moving {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
}
@keyframes moving {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
}
@-webkit-keyframes movingX {
  0% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes movingX {
  0% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes movingB {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes movingB {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}