@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  display: block;
}

html, body {
  width: 100%;
  height: auto;
}

i {
  display: block;
}

a {
  text-decoration: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

img {
  display: block;
}

html {
  width: 100%;
  height: 100%;
  background: #05135a;
}
html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body .bg {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/bg.jpg") no-repeat top center;
  z-index: -99;
}
html body .container {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  height: 100%;
}
html body .container .logo_pic {
  background: url("../img/logo.png") no-repeat center;
  background-size: contain;
  width: 489px;
  height: 142px;
  position: absolute;
  top: 32px;
  left: 45px;
  z-index: 1;
}
html body .container .img_1 {
  background: url("../img/img1.png") no-repeat center;
  background-size: contain;
  width: 925px;
  height: 939px;
  position: absolute;
  top: 17px;
  left: 316px;
  -webkit-animation: img_1 0.8s linear 0.5s;
          animation: img_1 0.8s linear 0.5s;
}
html body .container .icon {
  background: url("../img/icon.png") no-repeat center;
  background-size: contain;
  width: 266px;
  height: 47px;
  position: absolute;
  top: 439px;
  left: -2px;
}
html body .container .enter_group {
  position: absolute;
  top: 208px;
  left: 26px;
  width: auto;
  height: auto;
  text-align: right;
}
html body .container .enter_group label {
  width: 360px;
  height: 42px;
  border-bottom: solid 2px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  margin-bottom: 35px;
}
html body .container .enter_group label:last-of-type {
  margin: 0;
}
html body .container .enter_group label .logic_icon {
  background: url("../img/loginicon.png") no-repeat;
  background-size: 100%;
  width: 25px;
  height: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
}
html body .container .enter_group label .logic_icon.account {
  background-position-y: 0;
}
html body .container .enter_group label .logic_icon.password {
  background-position-y: 100%;
}
html body .container .enter_group label input {
  width: 100%;
  height: auto;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
}
html body .container .enter_group label input::-webkit-input-placeholder {
  color: #ffffff;
}
html body .container .enter_group label input::-moz-placeholder {
  color: #ffffff;
}
html body .container .enter_group label input:-ms-input-placeholder {
  color: #ffffff;
}
html body .container .enter_group label input::-ms-input-placeholder {
  color: #ffffff;
}
html body .container .enter_group label input::placeholder {
  color: #ffffff;
}
html body .container .enter_group .login {
  width: 172px;
  height: 55px;
  background: #ffcc00;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  margin: 25px 10px 0 0;
}
html body .container .enter_group .login p {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}

@-webkit-keyframes img_1 {
  0% {
    -webkit-transform: translateX(10%) scaleX(1.2) scaleX(0.9);
            transform: translateX(10%) scaleX(1.2) scaleX(0.9);
  }
  25% {
    -webkit-transform: translateX(25%) scaleX(1) scaleX(1.2);
            transform: translateX(25%) scaleX(1) scaleX(1.2);
  }
  55% {
    -webkit-transform: translateX(-15%) scaleX(0.8) scaleX(1);
            transform: translateX(-15%) scaleX(0.8) scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@keyframes img_1 {
  0% {
    -webkit-transform: translateX(10%) scaleX(1.2) scaleX(0.9);
            transform: translateX(10%) scaleX(1.2) scaleX(0.9);
  }
  25% {
    -webkit-transform: translateX(25%) scaleX(1) scaleX(1.2);
            transform: translateX(25%) scaleX(1) scaleX(1.2);
  }
  55% {
    -webkit-transform: translateX(-15%) scaleX(0.8) scaleX(1);
            transform: translateX(-15%) scaleX(0.8) scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}