@import "_reset";

html{
    width: 100%;
    height: 100%;
    background: #05135a;;
    body {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .bg{
            width: 100%;
            min-width: 1000px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../img/bg.jpg') no-repeat top center;
            z-index: -99;
        }

        .container{
            margin: 0 auto;
            position: relative;
            width: 1000px;
            height: 100%;

            .logo_pic{
                background: url('../img/logo.png') no-repeat center;
                background-size: contain;
                width: 362px;
                height: 193px;
                position: absolute;
                top: 33px;
                left: 327px;
                z-index: 2;
            }

            .img_1{
                background:url('../img/img1.png') no-repeat center;
                background-size: contain;
                width: 727px;
                height: 995px;
                position: absolute;
                top: 75px;
                left: -243px;
                animation: img_1 .8s linear .8s;
                animation-fill-mode: both;
            }
            .court {
                background: url('../img/court.png') no-repeat center;
                background-size: contain;
                width: 888px;
                height: 538px;
                position: absolute;
                top: 580px;
                left: 171px;
                z-index: -1;
            }

            .basketball {
                background: url('../img/basketball.png') no-repeat center;
                background-size: contain;
                width: 1001px;
                height: 1108px;
                position: absolute;
                top: 11px;
                left: 544px;
                animation: basketball .8s linear .5s;
                animation-fill-mode: both;
            }

            .icon{
                background: url('../img/icon.png') no-repeat center;
                background-size: contain;
                width: 298px;
                height: 37px;
                position: absolute;
                top: 476px;
                left: 350px;
                z-index: 1;
            }

            .enter_group{
                width: 411px;
                height: 320px;
                background: #7c7c7c1a;
                position: absolute;
                top: 207px;
                left: 294px;
                text-align: right;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 22px;
                box-shadow: -1px 3px 5px #000000,0 0 11px inset #ffffff;
                
                border: 1px solid #ffffff;

                label {
                    width: 308px;
                    height: 56.41px;
                    background: linear-gradient(to top, #ffe672 10%,#ffe04f 50%, #ffe04f 90%, #7e6a39 100%);
                    // border-bottom: solid 2px #ffffff;
                    display: flex;
                    align-items: center;
                    padding-left: 26px;
                    margin-bottom: 10px;
                    border-radius: 15px;

                    &:last-of-type {
                        margin: 0;
                    }

                    .logic_icon{
                        background: url('../img/loginicon.png') no-repeat;
                        background-size: 100%;
                        width: 20px;
                        height: 30px;
                        flex-shrink: 0;
                        margin-right: 15px;

                        &.account {
                            background-position-y: 0;
                        }
                        &.password {
                            background-position-y: 100%;
                        }
                    }

                    input {
                        width: 100%;
                        height: auto;
                        background: none;
                        border: none;
                        color: #000000;
                        font-size: 25px;

                        &::placeholder {
                            color: #000000;
                        }
                    }
                }
                
                .login{
                    width: 308px;
                    height: 69.45px;
                    background: linear-gradient(to top, #a10000 15%, #f10000 35%, #f83232 80%, #ffb7b7 95%);
                    border-radius: 15px;
                    margin-top: 25px;

                    p {
                        color: #000000;
                        font-size: 40px;
                        font-weight: bold;
                        // letter-spacing: 1px;
                    }

                    &:hover {
                        background: linear-gradient(to bottom, #a10000 15%, #f10000 35%, #f83232 80%, #ffb7b7 95%);
                    }
                }
            }
        }
    }
}

@keyframes img_1{

    0%{
        transform:translateX(90%)translateY(-10%) scaleX(1.02) scaleY(0.95);
        opacity: 0;
    }
    25%{
        transform:translateX(0%)translateY(5%) scaleX(0.98) scaleY(1.05);
        opacity: 0.8;
    }
    55%{
        transform:translateX(-25%) translateY(-5%) scaleX(1.02) scaleY(0.98);
        opacity: 1;
    }
    65%{
        transform:translateX(10%) translateY(5%) scaleX(0.98) scaleY(1.02);
    }
    100% {
        transform:translateX(0%) translateY(0%) scaleX(1) scaleY(1);
    }
}

@keyframes basketball{

    0%{
        transform:translateX(-100%)translateY(-100%) scaleX(1.1) scaleY(0.9);
        opacity: 0;
    }
    25%{
        transform:translateX(10%) translateY(5%) scaleX(1)scaleY(1.1);
        opacity: 1;
    }
    35%{
        transform:translateX(-5%)translateY(-1%) scaleX(0.98)scaleY(1.02);
    }
    40%{
        transform:translateX(2%)translateY(1%) scaleX(1)scaleY(1);
    }
    50%{
        transform:translateX(0%)translateY(0%) scaleX(1)scaleY(1);
    }
    100% {
        transform:scaleX(1) scaleY(1);
    }
}