/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "微軟正黑體";
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
    box-sizing: border-box;
}
body {
    line-height: 1;
}
main {
    display: block;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font-family: "微軟正黑體";
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}
select,input {
    font-family: "微軟正黑體";
    outline: none;
    appearance: none;
    box-sizing: border-box;
}
a {
    display: block;
    text-decoration: none;
}

//內容
html {
    width: 100%;
    height: 100%;
    background: #060469;

    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        main {
            width: 100%;
            height: 100%;

            article {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .left {
                    width: 50%;
                    height: 100%;
                    position: relative;

                    .object1 {
                        background: url('../images/object1.png') no-repeat top left;
                        background-size: contain;
                        width: 340px;
                        height: 553px;
                        position: absolute;
                        top: 339px;
                        right: 480px;
                        z-index: 5;
                        opacity: 0;
                        animation: show 0.5s ease-in 0.5s 1 normal forwards;
                    }
                    .object2 {
                        background: url('../images/object2.png') no-repeat top left;
                        background-size: contain;
                        width:291px;
                        height: 615px;
                        position: absolute;
                        top: 218px;
                        right: 40px;
                        z-index: 6;
                        opacity: 0;
                        animation: show 0.5s ease-in 0.9s 1 normal forwards;
                    }
                    .object3 {
                        background: url('../images/object3.png') no-repeat top left;
                        background-size: contain;
                        width: 822px;
                        height: 641px;
                        position: absolute;
                        top: 372px;
                        right: -41px;
                        z-index: 8;
                        opacity: 0;
                        animation: show 0.5s ease-in 1.3s 1 normal forwards;
                    }

                    .object4 {
                        background: url('../images/object4.png') no-repeat top left;
                        background-size: contain;
                        width: 322px;
                        height: 420px;
                        position: absolute;
                        top: 183px;
                        right: 263px;
                        z-index: 4;
                        opacity: 0;
                        animation: show 0.5s ease-in 1.7s 1 normal forwards;
                    }
                }

                .right {
                    width: 50%;
                    height: 100%;
                    position: relative;

                    .logo {
                        background: url('../images/logo.png') no-repeat top left;
                        background-size: contain;
                        width: 369px;
                        height: 169px;
                        position: absolute;
                        top: 101px;
                        left: 25px;
                        z-index: 10;
                    }

                    .inputBox {
                        background: url('../images/inputBG.png') no-repeat top left;
                        background-size: contain;
                        background-color: #2b2b3abd;
                        border-radius: 20px;
                        width: 575px;
                        height: 271px;
                        position: absolute;
                        top: 210px;
                        left: -67px;

                        label {
                            width: 279px;
                            height: 41px;
                            position: absolute;
                            left: 63px;

                            &.acc {
                                top: 105px;
                            }
                            &.pass {
                                top: 171px;
                            }
        
                            input {
                                box-shadow: 0px 0px 10px 0px #00000096 inset;
                                border: none;
                                color: #000;
                                background: #fff;
                                border-radius: 2px;
                                font-size: 18px;
                                width: 100%;
                                height: 100%;
                                box-sizing: border-box;
                                padding: 0 13px;
        
                                &::placeholder {
                                    letter-spacing: 1px;
                                    color: #000;
                                }

                                &:focus {
                                    border: 2px solid #da0f12;
                                    box-shadow: 1px 1px 15px #ff4431;
                                }
                            }
                        }
        
                        button {
                            color: #fff;
                            border: 1px solid #de0000;
                            background: linear-gradient(to bottom,
                                #d1273a 0%, 
                                #ff8e98 28%, 
                                #a00e1b 63%,
                                #ea2b41 100%);
                            border-radius: 5px;
                            width: 140px;
                            height: 108px;
                            font-size: 32px;
                            font-weight: bold;
                            position: absolute;
                            top: 104px;
                            left: 370px;
                            z-index: 3;

                            &:hover,&:active,&.active {
                                background: linear-gradient(to top,
                                #d1273a 0%, 
                                #ff8e98 28%, 
                                #a00e1b 63%,
                                #ea2b41 100%);
                            }
                        }
                    }

                    .union {
                        width: 243px;
                        height: 43px;
                        background: url('../images/union.png') no-repeat top left;
                        background-size: contain;
                        position: absolute;
                        top: 311px;
                        left: 319px;
                    }
                }
            }
        }
        //背景
        .bg {
            background: url('../images/bg.png') no-repeat top center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
        }
        .bglight {
            background: url('../images/lightBG.png') no-repeat top center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            animation: show 0.5s ease-in 0s 1 normal forwards;
            z-index: -995;
            opacity: 0;
        }
        .bgshadow {
            background: url('../images/shadowBG.png') no-repeat top center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -990;
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
