@import "reset";

html {
    width: 100%;
    height: 100%;
    background: #c3c3c3;

    body {
        width: 100%;
        height: auto;
        overflow: hidden;

        main {
            width: 100%;
            height: auto;

            .wrap {
                width: 1200px;
                height: 500px;
                margin: 0 auto;
                position: relative;

                .picture {
                    width: 594px;
                    height: 904px;
                    background: url("/src/img/picture.png") no-repeat center;
                    background-size: contain;
                    position: absolute;
                    top: 25px;
                    left: 301px;
                    z-index: -1;
                }

                .logo {
                    width: 483px;
                    height: 111px;
                    background: url("/src/img/logo.png") no-repeat center;
                    background-size: contain;
                    position: absolute;
                    top: 41px;
                    left: 349px;
                    z-index: -1;
                }

                .icon {
                    width: 213px;
                    height: 37px;
                    background: url("/src/img/icon.png") no-repeat center;
                    background-size: contain;
                    position: absolute;
                    top: 163px;
                    left: 506px;
                    z-index: -1;

                }

                .left-human {
                    width: 652px;
                    height: 618px;
                    background: url("/src/img/left-human.png") no-repeat center;
                    background-size: contain;
                    position: absolute;
                    top: 124px;
                    left: -297px;
                    z-index: -9;
                    animation: move_2 0.5s linear 0s;
                }

                .right-human {
                    width: 482px;
                    height: 845px;
                    background: url("/src/img/right-human.png") no-repeat center;
                    background-size: contain;
                    position: absolute;
                    top: 45px;
                    right: -19px;
                    z-index: -9;
                    animation: lag 0.3s linear 0s,move_1 0.5s linear 0.3s;
                }

                @keyframes move_1 {
                    0% {
                        opacity: 0;
                        transform: translateX(-30%) translateY(-10%) scale(1);
                    }

                    40% {
                        opacity: 1;
                        transform: translate(0) scaleX(1.45) scaleY(0.7);
                    }

                    80% {
                        transform: translate(0) scaleX(0.9) scaleY(1.1);
                    }

                    100% {
                        transform: translate(0) scale(1);
                    }
                }

                @keyframes move_2 {
                    0% {
                        opacity: 0;
                        transform: translateX(30%) translateY(15%) scale(1);
                    }

                    33% {
                        transform: translate(0) scaleX(1.5) scaleY(0.7);
                    }

                    67% {
                        opacity: 1;
                        transform: translate(0) scaleX(0.7) scaleY(1.2);
                    }

                    100% {
                        transform: translate(0) scale(1);
                    }
                }

                @keyframes lag {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 0;
                    }
                }

                form {
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 212px;
                    left: 407px;
                    text-align: center;

                    label {
                        display: block;
                        width: auto;
                        height: auto;
                        margin-bottom: 23px;

                        &:nth-of-type(2) {
                            margin: 0;
                        }

                        input {
                            width: 380px;
                            height: 53px;
                            border-radius: 10px;
                            border: none;
                            background: linear-gradient(to top, #ffffff 0%, #e0e0e0 100%);
                            text-align: center;
                            align-items: center;
                            padding-top: 6px;
                            padding-left: 3px;

                            &::placeholder {
                                font-size: 20px;
                                font-weight: 500;
                                color: #ff7e0c;
                                letter-spacing: -1px;

                            }
                        }
                    }

                    .btn {
                        width: 290px;
                        height: 68px;
                        background: url("/src/img/sign-in.png") no-repeat center;
                        background-size: contain;
                        margin-top: 32px;
                    }
                }
            }
        }

        .bg {
            width: 100%;
            min-width: 1200px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url("/src/img/bg.jpg") no-repeat top center;
            z-index: -999;
        }

    }




}